body
{
  background-color: lightblue;
}
.App
{
  display:grid;
  place-items: center;
}
.board
{
  margin:20px;
}
.tile
{
  background-color:lightgray;
  border-style: solid;
  border-width: 1px;
  display:grid;
  place-items: center;
  
}

.highlighted
{
  background-color:rgb(159, 159, 159);
  text-align: center;
}
.flagged
{
  background-color: rgb(113, 243, 155);
}
.clickedBomb
{
  background-color: red;
}
button
{
  border-style: none;
  width:200px;
  height:60px;
}
button:hover
{
  filter: brightness(90%)
}
button:active
{
  filter: brightness(80%)
}
.buttons
{
  width:600px;
  display:flex;
  justify-content: space-evenly;
}